asgiref==3.8.1
certifi==2024.7.4
charset-normalizer==3.3.2
greenlet==3.0.3
icalendar==5.0.13
idna==3.7
psycopg2==2.9.9
pyTelegramBotAPI==4.22.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
redis==5.0.8
requests==2.32.3
six==1.16.0
schedule==1.2.2
SQLAlchemy==2.0.32
sqlparse==0.5.1
telebot==0.0.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
uuid==1.30
vk-api==11.9.9
vkton==0.2.11
